{% extends 'base.html' %}
{% block title %}Informacion de Perfil{% endblock %}
{% block content %}
    <h1>Informacion de Perfil de {{user.username}}</h1>
    <img src="{{ user.profile.avatar.url }}" alt="Avatar" class="rounded-circle" style="width: 40px; height: 40px; object-fit: cover;">
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Nombre:</strong> {{ user.first_name }}</p>
    <p><strong>Apellido:</strong> {{ user.last_name }}</p>
    <p><strong>Link:</strong> {{ user.profile.link }}</p>
    <a href="{% url 'UsersApp:EditarPerfil' %}" class="btn btn-primary">Editar!</a>
{% endblock %}
