{% extends "site.html" %}
{% load static %}
{% block content %}
    <h1>Juegos</h1>

        {% if formulario.errors %}
        <p style="color: red;">Datos Incorrectos </p>
        {% endif %}

        <form action="{% url 'InflablesApp:Juegos' %}" method="post">
            {% csrf_token %}
            {% for field in formulario %}
                <div class="form-group row ">
                    <label for="{{field.label}}" class="col-sm-2">{{field.label}}</label>
                    <input 
                        type = "{{field.field.widget.input_type}}"
                        class = "col-sm-10"
                        name = "{{field.name}}"
                        id = "id_{{field.name}}"
                    >
                    {% if field.errors %}
                        <p style="color: red;">{{ field.errors }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <input type="submit" value="Guardar">
        </form>
        {% if juegos %}
            <table class="table table-bordered table-dark">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Alto</th>
                        <th scope="col">Ancho</th>
                        <th scope="col">Largo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for juego in juegos %}
                        <tr>
                            <td>{{ juego.nombre }}</td>
                            <td>{{ juego.cant_personas }}</td>
                            <td>{{ juego.ancho }}</td>
                            <td>{{ juego.largo }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p style="color: red;">No hay juegos para mostrar </p>
        {% endif %}
{% endblock %}