{% extends 'base.html' %}
{% block title %}Busqueda{% endblock %}
{% block content %}
    <h1>Busqueda</h1>
    <form method="get" class="bg-dark text-white mb-3">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="Buscar" onkeyup="toggleButton()">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" id="search-btn" disabled>
                        Buscar
                    </button>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        {% if posts %}
            {% for post in posts %}
                <div class="col-md-4">
                    <div class="card">
                        {% if post.fondo %}
                            <img class="card-img-top" src="{{ post.fondo.url }}" alt="{{ post.titulo }}">
                        {% endif %}
                        <div class="card-header">
                            <div class="d-flex flex-row">
                                <div class="d-flex flex-column w-75">
                                    <h5 class="card-title">{{ post.titulo }}</h5>
                                    <p class="card-subtitle">{{ post.fecha_creacion|date }}</p>
                                </div>
                                <img src="{{ post.author.avatar.url }}" alt="{{ Avatar }}" class="img-fluid rounded mb-2 mt-2" style="width: 50px; height: 50px;">
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ post.contenido|truncatewords:50 }}</p>
                            <a href="{% url 'PostsApp:PostDetalle' post.id %}" class="btn btn-primary">Leer Mas!</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h2>No se ha encontrado ningun post con el titulo que contenga "{{query}}".</h2>
            <h4>Prueba otra busqueda y tendras mejor suerte</h4>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    <script>
        function toggleButton() {
            const input = document.querySelector('input[name=q]');
            const button = document.querySelector('#search-btn');
            if (input.value === '') {
                button.disabled = true;
            } else {
                button.disabled = false;
            }
        }
    </script>
{% endblock %}